# Logs
logs
*.log

# # Node Modules
# FRONTEND/node_modules/
# BACKND/node_modules/

# Dependency directories
node_modules/   


# Environment variables
# FRONTEND/.env
# BACKND/.env
.env

# Windows system files
Thumbs.db
ehthumbs.db