
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: rahimxp/ecommerce-backend:1.0
        ports:
        - containerPort: 9000
        env:
        - name: NODE_ENV
          value: "production"
        - name: PORT
          value: "9000"
        # Values are loaded from our Secret.
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets # Name of the Secret object
              key: MONGO_URI         # Key within the Secret
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: ecommerce-secrets # Name of the Secret object
              key: JWT_SECRET        # Key within the Secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 9000
      targetPort: 9000
